.body {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #000000;
}

p {
  line-height: 36px;
}

.content-wrapper {
  margin: 0 auto;
  overflow: auto;
  width: 1200px;
}

.title,
.welcome,
.restaurant-details__header,
.author {
  font-weight: bold;
  text-transform: uppercase;
}

/* Header */

.title {
  float: left;
  font-size: 30px;
  color: #45610e;
  margin: 0;
  padding: 36px 0;
  width: 300px;
}

.title span {
  color: #000000;
}

.navigation {
  float: right;
  padding: 44px 0;
  width: 300px;
}

.navigation__list {
  margin: 0;
  padding: 0;
  text-align: right;
}

.navigation__item {
  color: #45610e;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  padding-right: 10px;
  padding-left: 10px;
}

.navigation__item a {
  color: #45610e;
  text-decoration: none;
}

/* First Section */

.greenbeans {
  border-top: 3px solid #77a466;
  border-bottom: 3px solid #77a466;
}

.welcome {
  font-size: 24px;
  color: #45610e;
  margin: 0;
  padding: 25px 0;
}

.main-title p {
  margin-top: 0;
}

/* Restaurant Details Section */

.restaurant-details .content-wrapper {
  border-top: 5px solid #eee;
  border-bottom: 5px solid #eee;
}

.restaurant-details_text {
  text-align: left;
  padding: 0 20px 0 20px;
}

.restaurant-details__header {
  font-size: 20px;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 30px;
}

.menu-list {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.menu-list__item {
  color: #45610e;
  line-height: 36px;
}

.section-one,
.section-two,
.section-three {
  float: left;
  box-sizing: border-box;
}

.section-one,
.section-three {
  width: 350px;
}

.section-one {
  padding-right: 40px;
  padding-left: 40px;
}

.section-two {
  border-right: 5px solid #eee;
  border-left: 5px solid #eee;
  width: 500px;
}

/* Footer */
.footer {
  clear: both;
  margin-top: 8px;
  text-align: center;
}

.author {
  font-size: 12px;
}

.fresh {
  color: #45610e;
  font-family: "Galada", cursive;
  font-weight: normal;
  font-size: 14px;
  font-style: italic;
  text-transform: lowercase;
}
